
body{
	
}
.form-box{
	border-radius: 4px;
	border: 1px solid black;
	width:30%;
	justify-content: center;
	margin: 8em auto auto auto;
	padding: 5em 4em 4em 4em;
	
}
.btn{
	margin-top: 0.5em;
	width:10em;
	right: 0;
	margin-bottom: 0.4em;

}
.account{
	margin-bottom: 0.7em;
}
	
input{
	width:15em;
}
.pwd{
	margin-bottom: 0.5em;
}

